.header {
	padding: 20px 0px;
	backdrop-filter: blur(7px);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 55;

	&::before {
		content: "";
		position: absolute;
		background: #23252d;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		z-index: 2;
		transition: right 0.3s;
	}

	&--menu-active {
		&::before {
			right: 0;
		}
	}

	&__body {
		display: flex;
		align-items: center;
	}

	&__logo {
		margin-right: 15px;
		transition: all 0.3s;
		flex-shrink: 0;

		&:hover {
			transform: scale(1.1);
		}

		@media (max-width: 1024px) {
			order: 1;
			position: relative;
			z-index: 5;
		}
	}

	&__menu {
		margin-left: auto;

		@media (max-width: 1024px) {
			order: 3;
			margin: unset;
		}
	}

	&__btn {
		@media (max-width: 1024px) {
			margin-left: auto;
			margin-right: 15px;
			order: 2;
			position: relative;
			z-index: 5;
		}

		@media (max-width: 480px) {
			font-size: 16px;
			padding: 6px 15px;
		}
	}
}

.menu {
	&__btn {
		background: transparent;
		border: none;
		margin: 0;
		padding: 0;
		cursor: pointer;
		width: 30px;
		height: 25px;
		position: relative;
		z-index: 5;
		display: none;

		@media (max-width: 1024px) {
			display: block;
		}

		span {
			display: block;
			width: 100%;
			height: 2px;
			background: #fff;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			transition: all 0.3s;
		}

		&::before,
		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			background: #fff;
			position: absolute;
			transition: all 0.3s;
		}

		&::before {
			top: 0;
			left: 0;
		}

		&::after {
			bottom: 0;
			left: 0;
		}
	}

	&__btn--active {
		span {
			opacity: 0;
		}

		&::before {
			transform: rotate(45deg);
			top: 50%;
		}

		&::after {
			transform: rotate(-45deg);
			top: 50%;
			//bottom: unset; //? НУЖНО ЛИ ЭТО???
		}
	}

	&__list {
		display: flex;
		align-items: center;
		margin-right: 84px;
		flex-wrap: wrap;

		@media (max-width: 1024px) {
			position: absolute;
			flex-direction: column;
			width: 100%;
			top: 0;
			right: -100%;
			height: 100vh;
			background: #23252d;
			padding: 117px 0px 30px;
			overflow: auto; //чтобы появился скролл при большом кол-ве пунктов меню (чтобы это св-во сработало, должен быть задан именно height)
			transition: right 0.3s;
			margin-right: unset;
		}
	}

	&__list--active {
		right: 0;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 30px;

			@media (max-width: 1024px) {
				margin-right: unset;
				margin-bottom: 15px;
			}
		}
	}

	&__link {
		line-height: 150%;
		color: #fff;
		transition: all 0.3s;

		&:hover {
			color: #faa525;
		}

		@media (max-width: 1024px) {
			font-size: 20px;
		}
	}
}
